{% extends "layout.html" %}

{% block head %}
<html lang="en" data-bs-theme="dark" ></html>
{% endblock %}

{%  block body %}



    <h1>About Me</h1>
    <div class="bg-success p-2" style="--bs-bg-opacity: .5;">This is 50% opacity success background</div>
    <body> My name is Omar, I am a 2023 Cal Poly Pomona graduate. I really enjoy the dark theme so I made this page dark by default so if you had light mode by default then enjoy the dark side for a bit I think you will like it</body>

{%  endblock %}