{% extends "layout.html" %}

{% block head %}
<html lang="en" data-bs-theme="dark" ></html>
{% endblock %}

{%  block content %}
<h1>About Me</h1>
<br>

<div class="bg-success p-2" style="--bs-bg-opacity: .5;">
    <p> My name is Omar, I am a 2023 Cal Poly Pomona graduate. I really enjoy the dark theme so I made this page dark by default so if you had light mode by default then enjoy the dark side for a bit I think you will like it.
        Enjoy this Image of me Enjoying my Post Grad meal with the Fam
        <img src="{{url_for('about.static', filename='IMG_2639_Original.jpeg')}}" style="float:right;width:700px;height:500px;">
    </p>



</div>    

{%  endblock %}