{% extends "layout.html" %}

{% block links %}
<style>
body {
    background-image: url("{{ url_for('about.static', filename='banner.jpg') }}");
}
</style>
{% endblock %}

{% block title %}Landing Page{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2 info">
        <h1 class="text-center">Welcome you beast</h1>
            <p class="text-center">
            This is my lil dojo for now but this is going to be the main landing page
            </p>

            <p class="text-center">
                Here I will show you what each page is about and what you can expect from my website
            </p>
    </div>


{% endblock %}