{% extends "layout.html" %} 

{% block links %}
<style>
  body {
    background-image: url("{{ url_for('login.static', filename='BG.jpg') }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text]:focus {
  border: 3px solid #555;
}
  </style>
{% endblock %}
  
  {% block title %}Login{% endblock %} 
  
{% block content %}
  <h1> Hello There, Please fill out this form and let me know what brought you to my website</h1>
  
  <form class="container" action="/register" method="post">
    <input autocomplete="off" autofocus name = "name" placeholder="Name" type="text">
    <select name="reason">
      <option disabled selected>Reason</option>
      {% for reason in reasons %}
        <option value="{{reason}}">{{reason}}</option>
      {% endfor %}
    </select>
    <input value="Other" type="radio" name="otherRad" id="otherRad"> <input  id="other" type="text" placeholder="Other" />
    <button type="submit"class="btn btn-primary">Continue</button>
  </form>
  
  <h3 align="center"> If you prefer to just browse click here</h3>
  
  <form class="container" action="/about" >
    <button type="submit" class="btn btn-primary">Continue</button>
  </form>
{% endblock %}