{% extends "layout.html" %}

{%  block content %}


<style>

body {
    background-position: center;
    background-image: url("{{ url_for('about.static', filename='938300.jpg') }}");
}

    h1 {
    text-align: center;
    }

    h3 {
    text-align: center;
    }

    form {
    text-align: center;
    }

    p {
    padding: 8px;
    margin: 25px;
    text-align: center;
    /* other styling */
    background-color: #33475b;
    border-radius: 10px;
    color: white;
    font-family: Arial;
    }
</style>

    <h1>Password Generator</h1>
    <br>
    <form action="/PGen/passwordgenerated" method="POST">
        <label for="length">Password Length:</label>
        <input type="number" id="length" name="length" min="1" max="100" required><br><br>
        <label for="uppercase">Only Uppercase Letters:</label>
        <input type="checkbox" id="uppercase" name="uppercase"><br><br>
        <label for="lowercase">Only Lowercase Letters:</label>
        <input type="checkbox" id="lowercase" name="lowercase"><br><br>
        <label for="numbers">Include Numbers:</label>
        <input type="checkbox" id="numbers" name="numbers"><br><br>
        <label for="symbols">Include Symbols:</label>
        <input type="checkbox" id="symbols" name="symbols"><br><br>
        <input class="btn btn-primary" type="submit" value="Generate Password">
    </form>
    <br>

    {% if password %}
        <h3>Generated Password:</h3>
        <p>
        <input type ="text" value="{{ password }}" id="PW">
        <button onclick="myFunction()">Copy text</button> </p>
        <script>
            function myFunction() {
              // Get the text field
            var copyText = document.getElementById("PW");
            
              // Select the text field
            copyText.select();
              copyText.setSelectionRange(0, 99999); // For mobile devices
            
              // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
            
              // Alert the copied text
            alert("Copied the text: " + copyText.value);
            }
            </script>
    {% endif %}
{%  endblock %}
